

<p id="notice"><%= notice %></p>
 
<h1>Older posts</h1>


<table class='table'>

  </thead>

  <tbody>
  
    <% @posts.each do |post| %>
       
      <tr>
        <td><%= post.created_at.strftime("%d.%m.%Y")%><%= post.city %><%= post.temp %> &degC<%= link_to 'Edit', edit_post_path(post) %> <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>  </td>   
      </tr>
      <tr class="table-secondary">    
        <td><%= post.note %></td>  
      </tr>
      
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>



